<div class="container">
    <div align="right">
        <button mat-raised-button routerLink="/app-route/employee-list">Go to employee list</button>
    </div>
    <div class="card p-5 mt-5">
        <form #employeeForm="ngForm" (ngSubmit)="saveEmployeeForm(employeeForm)">
            <mat-form-field appearance="outline">
                <mat-label>Employee ID</mat-label>
                <input matInput placeholder="Employee ID" name="employeeId" [(ngModel)]="employee.employeeId" disabled>
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Employee Name</mat-label>
                <input matInput placeholder="Employee Name" name="employeeName" [(ngModel)]="employee.employeeName">
                <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                <input matInput placeholder="Address" name="address" [(ngModel)]="employee.address">
                <mat-icon matSuffix>home</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Mobile Number</mat-label>
                <input matInput placeholder="Mobile Number" name="mobile" [(ngModel)]="employee.mobile">
                <mat-icon matSuffix>call</mat-icon>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Select Your Department</mat-label>
                <mat-select name="department" [(ngModel)]="employee.department">
                    <mat-option value="IT">IT</mat-option>
                    <mat-option value="Network">Network</mat-option>
                    <mat-option value="Repair">Repair</mat-option>
                </mat-select>
            </mat-form-field>

            <div>
                <label>Gender</label>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button [checked]="checkGender('M')" (click)="selectGender('M')"
                        value="M">M</mat-radio-button>
                    <mat-radio-button [checked]="checkGender('F') " (click)="selectGender('F')"
                        value="F">F</mat-radio-button>
                </mat-radio-group>
            </div>

            <mat-form-field appearance="outline" class="mt-2">
                <mat-label>Employee Skills</mat-label>
                <input matInput placeholder="Employee Skills" name="skills" [(ngModel)]="employee.skills" disabled>
                <mat-icon matSuffix>menu_book</mat-icon>
            </mat-form-field>

            <div>
                <label>Skills</label>
                <section class="example-section">
                    <mat-checkbox (change)="onSkilssChanges($event)" value="Angular" class="example-margin"
                        [checked]="checkSkills('Angular')">Angular</mat-checkbox>
                    <mat-checkbox (change)="onSkilssChanges($event)" value="Java" class="example-margin"
                        [checked]="checkSkills('Java')">Java</mat-checkbox>
                    <mat-checkbox (change)="onSkilssChanges($event)" value="Springboot" class="example-margin"
                        [checked]="checkSkills('Springboot')">Springboot</mat-checkbox>
                    <mat-checkbox (change)="onSkilssChanges($event)" value="Html" class="example-margin"
                        [checked]="checkSkills('Html')">Html</mat-checkbox>
                    <mat-checkbox (change)="onSkilssChanges($event)" value="CSS" class="example-margin"
                        [checked]="checkSkills('CSS')">CSS</mat-checkbox>
                </section>
            </div>
            <mat-divider></mat-divider>

            <div class="text-center mt-3">
                <button class="m-2" mat-raised-button>Clear</button>
                <button class="btn-save m-2" mat-raised-button color="primary">Save</button>
            </div>
        </form>
    </div>
</div>