.container {
    max-width: 100%;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

::-moz-placeholder {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.go-to-employee-list-btn {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.go-to-employee-list-btn:hover {
    background-color: #0056b3;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: auto;
}

.example-margin {
    margin: 0 10px;
}

.mat-mdc-radio-button~.mat-mdc-radio-button {
    margin-left: 16px;
}

.btn-save {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.btn-save:hover {
    background-color: darkgreen;
    /* Darker green on hover */
}

.btn-clear {
    background-color: red;
    /* Set background color for clear button */
    color: white;
    /* Set text color for clear button */
    padding: 10px 20px;
    /* Rounded corners */
    transition: background-color 0.3s;
}

.btn-clear:hover {
    background-color: red;
}

.example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
}

mat-form-field {
    width: 100%;
}

.mat-raised-button {
    transition: background-color 0.2s, color 0.2s;
}

.mat-raised-button:hover {
    opacity: 0.8;
}