<div class="container mt-5">
    <mat-grid-list cols="2" rowHeight="2:1" gutterSize="20" class="full-image">
        <mat-grid-tile>
            <div class="full-image" routerLink="employee"> <!-- Change here -->
                <img src="../../assets/flutter_img.png" style="cursor: pointer;" alt="flutter" class="full-image">
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="../../assets/sql_img.png" alt="sql" class="full-image">
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="../../assets/java_img.png" alt="java" class="full-image">
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="../../assets/react_img.png" alt="react" class="full-image">
        </mat-grid-tile>
    </mat-grid-list>
</div>

<router-outlet></router-outlet>